{% extends 'base.html' %}

{% block title %} Page {% endblock %}

<!-- {% block headheader %}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
    <li><a href="/product" class="nav-link px-2 text-white">Product</a></li>
    <li><a href="/add" class="nav-link px-2 text-white">Add Product</a></li>
    <li><a href="/category" class="nav-link px-2 text-white">Category</a></li>
    
</ul>
{% endblock %} -->

{% block content %}
{% endblock %}